*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #292828;
    font-family: Poppins, sans-serif;
    color: #F5F5F5;
}

::selection {
    color: black;
    background-color: #FEE10B;
}

/* SECTION 1 */

#s1 {
    height: 100vh;
    background-image: url("../img/mobile/landing-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}

/* logo */
.logo-slyde {
    height: 2.875rem;
    margin-left: 2vw;
    margin-top: 2vw;
}

/* textes */
.textes {
    margin: auto;
    margin-top: 114px;
    width: 90vw;
}

.slyde {
    color: #FEE10B;
    text-transform: uppercase;
    font-family: Inter, sans-serif;
    font-size: 1.563rem;
    margin-bottom: 4px;
}

p {
    font-weight: bold;
    font-size: 1.563rem;
    line-height: 1.35;
}

.slogan {
    font-weight: normal;
    font-size: 0.938rem;
    margin-bottom: 15px;
    margin-top: 4px;
}

.link-s6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #FEE10B;
    color: black;
    border-radius: 30px;
    font-size: 0.938rem;
    width: 9.875rem;
    height: 2.375rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* TROUVER UN HOVER QUI REND BIEN !!! */
.link-s6:hover {
    background-color: #1C1B1B;
    color: #F5F5F5;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* liens réseaux */
.logos {
    padding-left: 5vw;
    position: absolute;
    top: 90vh;
}

.logo-reseaux {
    height: 1.5rem;
}

.insta {
    margin-right: 1.875rem;
}

.lien-insta,
.lien-linkedin {
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.lien-insta:hover {
    filter: brightness(60%);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.lien-linkedin:hover {
    filter: brightness(60%);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#s2,
#s3,
#s4 {
    height: 78vh;
    display: flex;
}

#s3 {
    background-image: url("../img/backgrounds/collabore.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.phrase {
    margin: auto;
}

.jaune {
    color: #FEE10B;
}

.noir {
    color: black;
}

/* SECTION 5 */

#s5 {
    background-color: #1C1B1B;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.centrer-s5 {
    margin: auto;
}

.rejoindre {
    text-align: center;
}

.trait {
    background-color: #F5F5F5;
    width: 2px;
    height: 3.438rem;
    margin: auto;
    margin-bottom: 0.8rem;
    margin-top: 0.5rem;
}

/* formulaire */
.form {
    text-align: center;
}

input {
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 0.938rem;
    height: 2.563rem;
    min-width: 19.063rem;
    width: 34vw;
    padding-left: 10px;
    margin-bottom: 0.8rem;
}

input:focus,
button:focus {
    outline: none;
}

::placeholder {
    color: #707070;
    opacity: 50%;
}

button {
    border: none;
    display: block;
    background-color: #FEE10B;
    color: black;
    border-radius: 30px;
    font-size: 0.938rem;
    width: 9.875rem;
    height: 2.375rem;
    cursor: pointer;
    border-radius: 5px;
    height: 1.625rem;
    width: 34vw;
    min-width: 19.063rem;
    margin: auto;
}

.conditions p {
    font-size: 0.625rem;
    font-weight: normal;
    text-align: center;
    opacity: 60%;
    margin-top: 1rem;
    width: 34vw;
    min-width: 19.063rem;
}

/* SECTION 6 */

#s6 {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.logo-complet {
    height: 2.5rem;
    margin-bottom: 0.5rem;
}

.slogan2 {
    font-size: 0.813rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 85vw;
    min-width: 20vw;
    margin-bottom: 1.5rem;
}

.logos-bottom {
    display: inline-block;
    opacity: 70%;
}

.logos-bottom img {
    height: 1.188rem;
}

.contact {
    display: inline-block;
    opacity: 70%;
}

.contact p {
    font-size: 0.813rem;
    font-weight: 500;
}

.contact a {
    font-size: 0.813rem;
    font-weight: 300;
    color: #F5F5F5;
    text-decoration: none;
}

.contact a:hover {
    color: #FEE10B;
    transition: ease-in-out 0.2s;
}

.separateur {
    background-color: #F5F5F5;
    width: 100%;
    height: 1px;
    opacity: 50%;
    margin: auto;
    margin-bottom: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer p {
    margin-top: 2%;
    font-size: 0.75rem;
    text-align: center;
    font-weight: 300;
    opacity: 50%;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.logo-slyde-bottom {
    height: 3.5rem;
    margin: auto;
}

@media screen and (min-width: 1920px) {

    #s2,
    #s3,
    #s4 {
        height: 100vh;
        display: flex;
    }
}

@media screen and (min-width: 1440px) {

    #s2,
    #s3,
    #s4 {
        height: 100vh;
        display: flex;
    }
}